.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, white, #fff4ad ,#cce1ff,#dbeaff, #e3eaf4);;
    padding: 40px;
    position: relative;
  }
  
  .hero-content {
    flex: 2;
    max-width: 600px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
  }
  
  .rating .stars {
    margin-left: 10px;
    color: gold;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  
  p span {
    color: #ff5733;
    font-weight: bold;
  }
  
  .metrics {
    display: flex;
    margin: 20px 0;
  }
  
  .metrics div {
    margin-right: 30px;
    text-align: center;
  }
  
  .metrics strong {
    display: block;
    font-size: 1.5rem;
    color: #333;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .btn-primary {
    background-color: #1C4670;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: transparent;
    color: #1C4670;
    border: 1px solid #1C4670;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .hero-sidebar {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }
  
  .hero-sidebar button {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .hero-sidebar button:hover {
    background-color: #f0f0f0;
  }
  
  .hero-illustration {
    margin-top: 100px;
    flex: 1;
  }
  
  .hero-illustration img {
    width: 550px;
    height: auto;
  }
  